build
apps/broker/broker
apps/client/client
apps/client/main
apps/client/bench_client
apps/worker/worker
apps/api/api
apps/admin/admin
apps/*/*.log
bench/bench
bench/bench_mongo/bench_mongo
bench/bench_client/bench_client
test/*
dist
tags
_site
_posts
*.dat

# Go.gitignore
*.prof
*.mprof

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

profile

# vim stuff
*.sw[op]

#Mac
.DS_Store
